body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWPbuj8uihy7vMzruB4LLIza_ARGXPJCIu-Q&s');
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  z-index: -1;
}
.bg1-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR16mILAAynWk0dAD0r51K12tqikj94zvgTZg&s');
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  z-index: -1;
}
.bg2-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1580273916550-e323be2ae537?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y2FyfGVufDB8fDB8fHww');
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  z-index: -1;
}
.login-container {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 16px;
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px rgba(0,0,0,0.25);
  width: 300px;
  margin: 100px auto;
  text-align: center;
  color: white;
}

.login-container h2 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

input::placeholder {
  color: #eee;
}

button {
  width: 100%;
  padding: 12px;
  background: #ff6ec4;
  background: linear-gradient(to right, #ff6ec4, #7873f5);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

.signup-link {
  margin-top: 15px;
  font-size: 14px;
  color: #eee;
}

.signup-link a {
  color: #ffd700;
  text-decoration: none;
}
